In [152]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)

#from pandas import DataFrame, read_csv
import pandas as pd

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

import scipy
import numpy as np
#import scipy.signal as signal
from scipy.signal import *
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn import metrics

import sys  
#sys.path.insert(0, '/Users/louiseplacidet/Desktop/PIR/GITPIR/GIT_29_04/PIR/AdabandFlt')
#sys.path.insert(0, '/Users/SYL21/External_Drive/SUPAERO/PIR/AdabandFlt')
sys.path.insert(0, '/Users/louiseplacidet/Desktop/PIR/GITPIR/GIT_29_04/PIR/AdabandFlt')
#from AdaBandFlt import *
#from V2AdaBandFlt import *
from V3AdaBandFlt import *

%matplotlib tk

In [153]:
#load data
# file path of csv file
Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2groundAll.txt'
#Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2groundAll.txt'
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_new_spike_data/539W6cbaseRaw.txt'

# create dataframe
df = pd.read_csv(Location, sep='\t',skiprows=[0,1,3] , index_col='%t           ')

In [154]:
#load data
# file path of csv file

Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2_tstamp.csv'
#Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2_tstamp.csv'
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_new_spike_data/539W6cbase_isi.csv'

# create dataframe
df_ = pd.read_csv(Location, sep=',')

In [155]:
df.head()

,El 21,El 31,El 41,El 22,El 32,El 42,El 23,El 33,El 43,El 15
%t,,,,,,,,,,
0.00,-2.61,1.02,0.80,1.93,-1.25,-1.59,-0.57,4.09,-1.14,-0.34
0.04,-3.30,0.00,2.05,1.25,-1.02,-0.45,-1.82,2.61,-0.45,-0.80
0.08,-2.73,0.11,2.73,1.48,0.45,1.14,-1.14,3.52,-0.23,-0.80
0.12,-3.07,-0.45,1.25,0.80,-0.57,-0.57,-1.25,2.50,-1.02,-0.57
0.16,-2.39,1.48,0.34,1.14,0.00,-0.57,-0.34,1.48,-0.23,0.45

In [156]:
df_.head()

,T[s],sppa0001_21_Timestamp_Unit0,T[s].1,sppa0001_31_Timestamp_Unit0,T[s].2,sppa0001_41_Timestamp_Unit0,T[s].3,sppa0001_22_Timestamp_Unit0,T[s].4,sppa0001_32_Timestamp_Unit0,T[s].5,sppa0001_42_Timestamp_Unit0,T[s].6,sppa0001_23_Timestamp_Unit0,T[s].7,sppa0001_33_Timestamp_Unit0,T[s].8,sppa0001_43_Timestamp_Unit0,T[s].9,sppa0001_15_Timestamp_Unit0
0,1.63776,NaN,0.38532,NaN,0.85184,NaN,2.14396,NaN,2.13620,NaN,0.56064,NaN,2.14936,NaN,0.47808,NaN,2.13872,NaN,7.96416,NaN
1,1.99384,NaN,1.08808,NaN,2.12424,NaN,2.15492,NaN,2.14376,NaN,2.14380,NaN,2.15504,NaN,0.90124,NaN,2.14168,NaN,16.50048,NaN
2,2.13476,NaN,2.11608,NaN,2.13104,NaN,2.16148,NaN,2.15196,NaN,2.15204,NaN,2.16224,NaN,2.11860,NaN,2.14432,NaN,17.73908,NaN
3,2.13824,NaN,2.12060,NaN,2.13352,NaN,2.16732,NaN,2.15752,NaN,2.15772,NaN,2.17080,NaN,2.14616,NaN,2.15276,NaN,NaN,NaN
4,2.14420,NaN,2.13140,NaN,2.13628,NaN,2.17520,NaN,2.16072,NaN,2.16072,NaN,2.17296,NaN,2.14848,NaN,2.15540,NaN,NaN,NaN

In [157]:
#####################################################################################################################
####  BANK OF PARTS OF DATA

all_raw_data = df #Entire recording from all electrodes

full_signal = df.iloc[:,1] #Entire recording from the first electrode

def butter_bandpass(lowcut, highcut, fs, order=5):
    nyq = 0.5 * fs
    low = lowcut / nyq
    high = highcut / nyq
    b, a = butter(order, [low, high], btype='band')
    return b, a


def butter_bandpass_filter(data, lowcut, highcut, fs, order=5):
    b, a = butter_bandpass(lowcut, highcut, fs, order=order)
    y = filtfilt(b, a, data)
    return y

# Sample rate and desired cutoff frequencies (in Hz).
fs = 25000.0
lowcut = 100.0
highcut = 2500.0


y = butter_bandpass_filter(df.iloc[:,1], lowcut, highcut, fs, order=6)


filtereddf = pd.DataFrame(y)
filtereddf.index = df.index

signal_filtered = filtereddf.iloc[:,0] #Entire recording filtered by bandpass, for one electrode


fs = 25000

#xminnoise = int(np.round(11114*(fs/1000)))
#xmaxnoise = int(np.round(18511*(fs/1000)))

#noise_data = filtereddf.iloc[xminnoise:xmaxnoise,0]

#xminspike = int(np.round(130826*(fs/1000)))
#xmaxspike = int(np.round(131699*(fs/1000)))

#burst_data = filtereddf.iloc[xminspike:xmaxspike,0]

#begin_data = signal_filtered.iloc[:500000]

In [158]:
################################################################################################
####   TEST ADABANDFLT AVEC SIGNAL ORIGINAL (PASSE-BANDE+WIENER)

# Choices:
#  - full_signal : entire signal from first electrode
#  - signal_filtered : entire signal from first electrode after bandpass
#  - noise_data : part of signal where only noise (after bandpass)
#  - spike_data : part of signal where burst (after bandpass)


signal = signal_filtered

In [159]:
fs = 25000
align_method = 'indice_1er_depass'

In [160]:
noise_levels = init_noise_levels(signal_filtered, fs, 
                      noise_window_size = 0.01,
                      required_valid_windows = 100,
                      old_noise_level_propagation = 0.8, 
                      test_level = 5,
                      estimator_type = "RMS",
                      percentile_value = 25)

"""plt.figure()
plt.plot(noise_levels)
plt.grid(True)
plt.xlabel('Time')
plt.ylabel('Noise Amplitude [µV]')
plt.title('Noise Levels')"""

"plt.figure()\nplt.plot(noise_levels)\nplt.grid(True)\nplt.xlabel('Time')\nplt.ylabel('Noise Amplitude [µV]')\nplt.title('Noise Levels')"

In [209]:
spike_info = find_spikes(signal, noise_levels, fs, 
                           window_size = 0.0012, 
                           noise_window_size = 0.01,
                           threshold_factor = 3.7,
                           maxseparation = 0.001)  
                
#spike_info.columns = ['indice_max','indice_min','indice_depass_positif','indice_depass_negatif', 'indice_1er_depass','indice_zero_central','i_max-i_min','Delta_amplitudes']
spike_info

,indice_min,indice_1er_depass,indice_max_gauche,indice_max_droite,Delta_amplitudes
0,9632,9630,nan,9653,14.984720
1,44816,44816,nan,44823,12.138414
2,45403,45403,45395,nan,12.085091
3,52902,52902,52885,nan,13.322000
4,53016,53016,53007,nan,13.985842
...,...,...,...,...,...
592,478481,478478,nan,478501,17.741349
593,478578,478575,478559,nan,18.029877
594,478718,478715,nan,478741,16.432947
595,486302,486301,nan,486311,11.994359
596,493403,493403,nan,493412,12.225191

In [230]:
signal = signal_filtered

In [231]:
toto = df_.iloc[:, 2].dropna().values
arr = toto*fs
spike_info_ = pd.DataFrame(arr.astype('int') , columns = [align_method])

In [232]:
signal = full_signal

In [233]:
spike_data = record_spikes(signal, fs, spike_info,
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_ = record_spikes(signal, fs, spike_info_,
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

(598, 76)
(466, 76)

In [234]:
def print_spikes(spike_data,
                 t_before_alignement = 0,
                 first_spike = 1,
                 last_spike = -1,
                 fs = fs,
                 randomize = False,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60):
    
    if randomize == True:        
        kept = []
        m = len(spike_data.values[0])
        if m <= nb_spike:
            kept = [i for i in range(m)]
        else:      
            i = 0  
            while i < nb_spike:
                r = randint(0,m-1)
                if (r in kept) == False:
                    kept.append(r)
                    i += 1
        
        x = spike_data.iloc[:,kept].values
        
    else:
        x = spike_data.iloc[:,first_spike:last_spike]
        
    figure = plt.figure()
    t_b = int(np.round(fs*(t_before_alignement)))
    axes = figure.add_subplot(1, 1, 1)
    axes.plot((spike_data.index-t_b)*1000/fs, x)
    axes.set_xlabel('Time in ms')
    axes.set_ylim(y_lim_min , y_lim_max)
    axes.grid()

# Comparaison spikes

In [249]:
sophie_spike = spike_info_[align_method].values
our_spike = spike_info[align_method].values
temporal_tol = 0.0008

i = 0
j = 0

joint_spikes_sophie_side = []
solo_spikes_sophie_side = []
joint_spikes_our_side = []
solo_spikes_our_side = []
tol = int(np.round(fs * temporal_tol))

while(True):
    if sophie_spike[i] < our_spike[j] - tol:
        solo_spikes_sophie_side.append(i)
        i += 1
    elif sophie_spike[i] > our_spike[j] + tol:
        solo_spikes_our_side.append(j)
        j += 1
    else:
        joint_spikes_sophie_side.append(i)
        joint_spikes_our_side.append(j)
        i += 1
        j += 1
    if(i == len(sophie_spike)-1 or j == len(our_spike)-1):
        break
    
print('Spikes detected by sophie: %d' %len(sophie_spike))
print('Spikes detected by our AdabandFlt: %d' %len(our_spike))
print(" ")
print('joint_spikes_sophie_side')
print('Spikes detected by Sophie that we have in common: %d' %len(joint_spikes_sophie_side))
print(joint_spikes_sophie_side)
print(" ")
print('solo_spikes_sophie_side')
print('Spikes detected by sophie only: %d' %len(solo_spikes_sophie_side))
print(solo_spikes_sophie_side)
print(" ")
print('joint_spikes_our_side')
print('Spikes detected by us that we have in common: %d' %len(joint_spikes_our_side))
print(joint_spikes_our_side)
print('solo_spikes_our_side')
print('Spikes detected by us only: %d' %len(solo_spikes_our_side))
print(solo_spikes_our_side)

Spikes detected by sophie: 465
Spikes detected by our AdabandFlt: 597

joint_spikes_sophie_side
Spikes detected by Sophie that we have in common: 301
[0, 2, 3, 4, 6, 11, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 34, 35, 36, 37, 38, 39, 40, 44, 45, 48, 49, 50, 51, 52, 53, 55, 58, 59, 61, 63, 65, 66, 69, 70, 72, 74, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 102, 103, 104, 105, 106, 107, 108, 110, 111, 112, 113, 115, 117, 118, 119, 120, 122, 123, 124, 125, 127, 128, 129, 130, 131, 132, 136, 137, 138, 139, 140, 141, 142, 144, 146, 147, 149, 152, 155, 156, 157, 159, 161, 162, 164, 165, 168, 170, 173, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 195, 196, 197, 199, 202, 204, 205, 206, 208, 211, 215, 217, 219, 223, 224, 225, 226, 227, 228, 229, 231, 232, 234, 235, 236, 238, 241, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 259, 261, 265, 267, 268, 270, 272, 273, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 286, 291, 293, 295, 296, 298, 299, 300, 301, 303, 304, 307, 308, 310, 311, 313, 314, 316, 317, 318, 319, 321, 323, 325, 326, 327, 329, 330, 331, 332, 334, 335, 336, 340, 342, 343, 345, 346, 347, 348, 350, 351, 353, 354, 356, 357, 359, 360, 364, 365, 368, 369, 370, 371, 372, 374, 375, 376, 380, 381, 383, 386, 387, 388, 390, 391, 394, 395, 396, 397, 398, 399, 400, 401, 404, 405, 407, 409, 410, 411, 412, 415, 416, 417, 418, 419, 421, 422, 423, 425, 427, 429, 430, 431, 437, 438, 439, 442, 443, 444, 445, 447, 448, 451, 452, 453, 454, 455, 456, 458, 459, 463]

solo_spikes_sophie_side
Spikes detected by sophie only: 163
[1, 5, 7, 8, 9, 10, 12, 13, 18, 19, 21, 31, 32, 33, 41, 42, 43, 46, 47, 54, 56, 57, 60, 62, 64, 67, 68, 71, 73, 75, 79, 81, 100, 101, 109, 114, 116, 121, 126, 133, 134, 135, 143, 145, 148, 150, 151, 153, 154, 158, 160, 163, 166, 167, 169, 171, 172, 174, 175, 176, 177, 192, 193, 194, 198, 200, 201, 203, 207, 209, 210, 212, 213, 214, 216, 218, 220, 221, 222, 230, 233, 237, 239, 240, 242, 243, 257, 258, 260, 262, 263, 264, 266, 269, 271, 274, 285, 287, 288, 289, 290, 292, 294, 297, 302, 305, 306, 309, 312, 315, 320, 322, 324, 328, 333, 337, 338, 339, 341, 344, 349, 352, 355, 358, 361, 362, 363, 366, 367, 373, 377, 378, 379, 382, 384, 385, 389, 392, 393, 402, 403, 406, 408, 413, 414, 420, 424, 426, 428, 432, 433, 434, 435, 436, 440, 441, 446, 449, 450, 457, 460, 461, 462]

joint_spikes_our_side
Spikes detected by us that we have in common: 301
[0, 3, 4, 5, 8, 11, 13, 14, 15, 17, 20, 22, 24, 26, 27, 28, 29, 31, 32, 33, 38, 39, 40, 42, 44, 46, 48, 51, 52, 56, 58, 60, 62, 63, 64, 66, 70, 71, 73, 75, 77, 79, 83, 85, 88, 90, 93, 95, 96, 97, 98, 101, 103, 113, 114, 117, 118, 120, 121, 123, 124, 126, 127, 129, 130, 133, 134, 135, 138, 141, 142, 144, 145, 147, 148, 151, 152, 154, 155, 158, 159, 160, 161, 162, 163, 165, 167, 169, 172, 173, 174, 175, 176, 177, 182, 183, 184, 185, 186, 187, 188, 191, 193, 194, 197, 200, 203, 205, 207, 208, 213, 215, 217, 218, 223, 225, 226, 239, 241, 242, 244, 245, 246, 247, 249, 251, 253, 254, 256, 257, 258, 261, 262, 263, 266, 267, 268, 269, 271, 273, 276, 281, 283, 286, 289, 291, 293, 294, 295, 296, 297, 300, 302, 305, 306, 307, 311, 313, 315, 316, 318, 320, 322, 323, 326, 327, 328, 331, 332, 333, 334, 336, 341, 344, 347, 350, 351, 353, 354, 356, 357, 358, 359, 361, 362, 364, 365, 366, 368, 370, 377, 379, 381, 383, 384, 386, 387, 388, 392, 394, 397, 399, 402, 404, 405, 407, 408, 409, 411, 412, 415, 417, 419, 421, 423, 425, 427, 428, 429, 434, 436, 437, 441, 443, 444, 445, 447, 448, 449, 450, 451, 453, 455, 459, 460, 461, 463, 469, 470, 474, 475, 476, 477, 478, 482, 483, 484, 487, 488, 490, 492, 493, 495, 497, 498, 499, 501, 502, 504, 505, 507, 508, 509, 512, 514, 517, 520, 522, 523, 524, 529, 530, 531, 533, 535, 537, 538, 540, 542, 543, 547, 548, 550, 556, 557, 558, 563, 564, 565, 568, 570, 572, 574, 575, 576, 577, 578, 581, 583, 586, 593]
solo_spikes_our_side
Spikes detected by us only: 293
[1, 2, 6, 7, 9, 10, 12, 16, 18, 19, 21, 23, 25, 30, 34, 35, 36, 37, 41, 43, 45, 47, 49, 50, 53, 54, 55, 57, 59, 61, 65, 67, 68, 69, 72, 74, 76, 78, 80, 81, 82, 84, 86, 87, 89, 91, 92, 94, 99, 100, 102, 104, 105, 106, 107, 108, 109, 110, 111, 112, 115, 116, 119, 122, 125, 128, 131, 132, 136, 137, 139, 140, 143, 146, 149, 150, 153, 156, 157, 164, 166, 168, 170, 171, 178, 179, 180, 181, 189, 190, 192, 195, 196, 198, 199, 201, 202, 204, 206, 209, 210, 211, 212, 214, 216, 219, 220, 221, 222, 224, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 240, 243, 248, 250, 252, 255, 259, 260, 264, 265, 270, 272, 274, 275, 277, 278, 279, 280, 282, 284, 285, 287, 288, 290, 292, 298, 299, 301, 303, 304, 308, 309, 310, 312, 314, 317, 319, 321, 324, 325, 329, 330, 335, 337, 338, 339, 340, 342, 343, 345, 346, 348, 349, 352, 355, 360, 363, 367, 369, 371, 372, 373, 374, 375, 376, 378, 380, 382, 385, 389, 390, 391, 393, 395, 396, 398, 400, 401, 403, 406, 410, 413, 414, 416, 418, 420, 422, 424, 426, 430, 431, 432, 433, 435, 438, 439, 440, 442, 446, 452, 454, 456, 457, 458, 462, 464, 465, 466, 467, 468, 471, 472, 473, 479, 480, 481, 485, 486, 489, 491, 494, 496, 500, 503, 506, 510, 511, 513, 515, 516, 518, 519, 521, 525, 526, 527, 528, 532, 534, 536, 539, 541, 544, 545, 546, 549, 551, 552, 553, 554, 555, 559, 560, 561, 562, 566, 567, 569, 571, 573, 579, 580, 582, 584, 585, 587, 588, 589, 590, 591, 592]

In [250]:
print("Petit Bilan: ")
print(" ")
print('Spikes detected by sophie: %d' %len(sophie_spike))
print('Spikes detected by our AdabandFlt: %d' %len(our_spike))
print(" ")
print('Spikes detected by Sophie that we have in common: %d' %len(joint_spikes_sophie_side))
print(" ")
print('Spikes detected by sophie only: %d' %len(solo_spikes_sophie_side))
print(" ")
print('Spikes detected by us only: %d' %len(solo_spikes_our_side))

Petit Bilan:

Spikes detected by sophie: 465
Spikes detected by our AdabandFlt: 597

Spikes detected by Sophie that we have in common: 301

Spikes detected by sophie only: 163

Spikes detected by us only: 293

## Affichage oneline

In [251]:
spike_data_oneline_joint_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[joint_spikes_our_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[solo_spikes_our_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

In [252]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_our_side.index, spike_data_oneline_joint_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_our_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_our_side.index, spike_data_oneline_solo_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_our_side')
axes.grid(True)

In [253]:
spike_data_oneline_joint_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[joint_spikes_sophie_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[solo_spikes_sophie_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

In [254]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_sophie_side.index, spike_data_oneline_joint_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_sophie_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_sophie_side.index, spike_data_oneline_solo_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_sophie_side')
axes.grid(True)

## Affichage spikes sophie only

In [255]:
print_spikes(spike_data_,
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [256]:
print_spikes(spike_data_,
                 t_before_alignement = 0.001,
                 y_lim_min = -50,
                 y_lim_max = 60)

## Affichages séparés

In [257]:
print_spikes(spike_data.iloc[:,joint_spikes_our_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [258]:
print_spikes(spike_data.iloc[:,solo_spikes_our_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [259]:
print_spikes(spike_data_.iloc[:,joint_spikes_sophie_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [260]:
print_spikes(spike_data_.iloc[:,solo_spikes_sophie_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

## Affichage barres

In [261]:
signal = signal_filtered

plt.figure()
plt.plot(signal.index, signal, 'b')

spike_info.iloc[joint_spikes_our_side][align_method]

for value in spike_info.iloc[joint_spikes_our_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.5, ymax=0.9, color = 'purple')
for value in spike_info_.iloc[joint_spikes_sophie_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'purple')
for value in spike_info.iloc[solo_spikes_our_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.5, ymax=0.9, color = 'g')
for value in spike_info_.iloc[solo_spikes_sophie_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'r')

plt.grid()
plt.show()

## Comparaison nos spikes + barre ou il y a indice logiciel

In [262]:
#plt.figure()
#plt.plot(signal.index, signal, 'b')

spike_data_onelinee = record_spikes_oneline(signal_filtered, fs, spike_info,
                  align_method,
                  t_before = 0.002,
                  t_after = 0.002)


figure = plt.figure()
axes = figure.add_subplot(1, 1, 1)
axes.plot(signal_filtered.index, signal_filtered.values)
axes.plot(spike_data_onelinee.index, spike_data_onelinee.values)
for value in spike_info_.iloc[joint_spikes_sophie_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'purple')
for value in spike_info_.iloc[solo_spikes_sophie_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'purple')
axes.set_xlabel('Time in ms')
axes.grid(True)