In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)

#from pandas import DataFrame, read_csv
import pandas as pd

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

import scipy
import numpy as np
#import scipy.signal as signal
from scipy.signal import *
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn import metrics

import sys  
#sys.path.insert(0, '/Users/louiseplacidet/Desktop/PIR/GITPIR/GIT_29_04/PIR/AdabandFlt')
#sys.path.insert(0, '/Users/SYL21/External_Drive/SUPAERO/PIR/AdabandFlt')
sys.path.insert(0, '/Users/louiseplacidet/Desktop/PIR/GITPIR/GIT_29_04/PIR/AdabandFlt')
#from AdaBandFlt import *
from V2AdaBandFlt import *

%matplotlib tk

In [2]:
#load data
# file path of csv file
Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2groundAll.txt'
#Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2groundAll.txt'
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_new_spike_data/539W6cbaseRaw.txt'

# create dataframe
df = pd.read_csv(Location, sep='\t',skiprows=[0,1,3] , index_col='%t           ')

In [3]:
#load data
# file path of csv file

Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2_tstamp.csv'
#Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2_tstamp.csv'
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_new_spike_data/539W6cbase_isi.csv'

# create dataframe
df_ = pd.read_csv(Location, sep=',')

In [5]:
df.head()

,El 21,El 31,El 41,El 22,El 32,El 42,El 23,El 33,El 43,El 15
%t,,,,,,,,,,
0.00,-2.61,1.02,0.80,1.93,-1.25,-1.59,-0.57,4.09,-1.14,-0.34
0.04,-3.30,0.00,2.05,1.25,-1.02,-0.45,-1.82,2.61,-0.45,-0.80
0.08,-2.73,0.11,2.73,1.48,0.45,1.14,-1.14,3.52,-0.23,-0.80
0.12,-3.07,-0.45,1.25,0.80,-0.57,-0.57,-1.25,2.50,-1.02,-0.57
0.16,-2.39,1.48,0.34,1.14,0.00,-0.57,-0.34,1.48,-0.23,0.45

In [6]:
df_.head()

,T[s],sppa0001_21_Timestamp_Unit0,T[s].1,sppa0001_31_Timestamp_Unit0,T[s].2,sppa0001_41_Timestamp_Unit0,T[s].3,sppa0001_22_Timestamp_Unit0,T[s].4,sppa0001_32_Timestamp_Unit0,T[s].5,sppa0001_42_Timestamp_Unit0,T[s].6,sppa0001_23_Timestamp_Unit0,T[s].7,sppa0001_33_Timestamp_Unit0,T[s].8,sppa0001_43_Timestamp_Unit0,T[s].9,sppa0001_15_Timestamp_Unit0
0,1.63776,NaN,0.38532,NaN,0.85184,NaN,2.14396,NaN,2.13620,NaN,0.56064,NaN,2.14936,NaN,0.47808,NaN,2.13872,NaN,7.96416,NaN
1,1.99384,NaN,1.08808,NaN,2.12424,NaN,2.15492,NaN,2.14376,NaN,2.14380,NaN,2.15504,NaN,0.90124,NaN,2.14168,NaN,16.50048,NaN
2,2.13476,NaN,2.11608,NaN,2.13104,NaN,2.16148,NaN,2.15196,NaN,2.15204,NaN,2.16224,NaN,2.11860,NaN,2.14432,NaN,17.73908,NaN
3,2.13824,NaN,2.12060,NaN,2.13352,NaN,2.16732,NaN,2.15752,NaN,2.15772,NaN,2.17080,NaN,2.14616,NaN,2.15276,NaN,NaN,NaN
4,2.14420,NaN,2.13140,NaN,2.13628,NaN,2.17520,NaN,2.16072,NaN,2.16072,NaN,2.17296,NaN,2.14848,NaN,2.15540,NaN,NaN,NaN

In [7]:
#####################################################################################################################
####  BANK OF PARTS OF DATA

all_raw_data = df #Entire recording from all electrodes

full_signal = df.iloc[:,1] #Entire recording from the first electrode

def butter_bandpass(lowcut, highcut, fs, order=5):
    nyq = 0.5 * fs
    low = lowcut / nyq
    high = highcut / nyq
    b, a = butter(order, [low, high], btype='band')
    return b, a


def butter_bandpass_filter(data, lowcut, highcut, fs, order=5):
    b, a = butter_bandpass(lowcut, highcut, fs, order=order)
    y = filtfilt(b, a, data)
    return y

# Sample rate and desired cutoff frequencies (in Hz).
fs = 25000.0
lowcut = 100.0
highcut = 2500.0


y = butter_bandpass_filter(df.iloc[:,1], lowcut, highcut, fs, order=6)


filtereddf = pd.DataFrame(y)
filtereddf.index = df.index

signal_filtered = filtereddf.iloc[:,0] #Entire recording filtered by bandpass, for one electrode


fs = 25000

#xminnoise = int(np.round(11114*(fs/1000)))
#xmaxnoise = int(np.round(18511*(fs/1000)))

#noise_data = filtereddf.iloc[xminnoise:xmaxnoise,0]

#xminspike = int(np.round(130826*(fs/1000)))
#xmaxspike = int(np.round(131699*(fs/1000)))

#burst_data = filtereddf.iloc[xminspike:xmaxspike,0]

#begin_data = signal_filtered.iloc[:500000]

In [8]:
################################################################################################
####   TEST ADABANDFLT AVEC SIGNAL ORIGINAL (PASSE-BANDE+WIENER)

# Choices:
#  - full_signal : entire signal from first electrode
#  - signal_filtered : entire signal from first electrode after bandpass
#  - noise_data : part of signal where only noise (after bandpass)
#  - spike_data : part of signal where burst (after bandpass)


signal = signal_filtered

In [9]:
fs = 25000
align_method = 'indice_1er_depass'

In [10]:
noise_levels = init_noise_levels(signal_filtered, fs, 
                      noise_window_size = 0.01,
                      required_valid_windows = 100,
                      old_noise_level_propagation = 0.8, 
                      test_level = 5,
                      estimator_type = "RMS",
                      percentile_value = 25)

"""plt.figure()
plt.plot(noise_levels)
plt.grid(True)
plt.xlabel('Time')
plt.ylabel('Noise Amplitude [µV]')
plt.title('Noise Levels')"""

"plt.figure()\nplt.plot(noise_levels)\nplt.grid(True)\nplt.xlabel('Time')\nplt.ylabel('Noise Amplitude [µV]')\nplt.title('Noise Levels')"

In [11]:
spike_info = find_spikes(signal, noise_levels, fs, 
                           window_size = 0.0012, 
                           noise_window_size = 0.01,
                           threshold_factor = 3.5,
                           maxseparation = 0.001)  
                
#spike_info.columns = ['indice_max','indice_min','indice_depass_positif','indice_depass_negatif', 'indice_1er_depass','indice_zero_central','i_max-i_min','Delta_amplitudes']
spike_info

,indice_min,indice_1er_depass,indice_max_gauche,indice_max_droite,Delta_amplitudes
0,53375,53373,nan,53391,18.401228
1,53504,53499,nan,53517,30.926425
2,53652,53652,nan,53660,15.007973
3,53717,53714,nan,53727,24.989384
4,53939,53931,nan,53960,32.906089
...,...,...,...,...,...
352,478042,478040,nan,478066,15.501125
353,478128,478125,nan,478147,29.366637
354,478158,478158,nan,478169,27.879169
355,478290,478287,nan,478305,16.864888
356,478481,478478,nan,478501,17.741349

In [12]:
signal = signal_filtered

In [13]:
toto = df_.iloc[:, 2].dropna().values
arr = toto*fs
spike_info_ = pd.DataFrame(arr.astype('int') , columns = [align_method])

In [14]:
signal = full_signal

In [15]:
spike_data = record_spikes(signal, fs, spike_info,
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_ = record_spikes(signal, fs, spike_info_,
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

(358, 76)
(466, 76)

In [16]:
def print_spikes(spike_data,
                 t_before_alignement = 0,
                 first_spike = 1,
                 last_spike = -1,
                 fs = fs,
                 randomize = False,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60):
    
    if randomize == True:        
        kept = []
        m = len(spike_data.values[0])
        if m <= nb_spike:
            kept = [i for i in range(m)]
        else:      
            i = 0  
            while i < nb_spike:
                r = randint(0,m-1)
                if (r in kept) == False:
                    kept.append(r)
                    i += 1
        
        x = spike_data.iloc[:,kept].values
        
    else:
        x = spike_data.iloc[:,first_spike:last_spike]
        
    figure = plt.figure()
    t_b = int(np.round(fs*(t_before_alignement)))
    axes = figure.add_subplot(1, 1, 1)
    axes.plot((spike_data.index-t_b)*1000/fs, x)
    axes.set_xlabel('Time in ms')
    axes.set_ylim(y_lim_min , y_lim_max)
    axes.grid()

# Comparaison spikes

In [26]:
sophie_spike = spike_info_[align_method].values
our_spike = spike_info[align_method].values
temporal_tol = 0.0006

i = 0
j = 0

joint_spikes_sophie_side = []
solo_spikes_sophie_side = []
joint_spikes_our_side = []
solo_spikes_our_side = []
tol = int(np.round(fs * temporal_tol))

while(True):
    if sophie_spike[i] < our_spike[j] - tol:
        solo_spikes_sophie_side.append(i)
        i += 1
    elif sophie_spike[i] > our_spike[j] + tol:
        solo_spikes_our_side.append(j)
        j += 1
    else:
        joint_spikes_sophie_side.append(i)
        joint_spikes_our_side.append(j)
        i += 1
        j += 1
    if(i == len(sophie_spike)-1 or j == len(our_spike)-1):
        break
    
print('Spikes detected by sophie: %d' %len(sophie_spike))
print('Spikes detected by our AdabandFlt: %d' %len(our_spike))
print(" ")
print('joint_spikes_sophie_side')
print('Spikes detected by Sophie that we have in common: %d' %len(joint_spikes_sophie_side))
print(joint_spikes_sophie_side)
print(" ")
print('solo_spikes_sophie_side')
print('Spikes detected by sophie only: %d' %len(solo_spikes_sophie_side))
print(solo_spikes_sophie_side)
print(" ")
print('joint_spikes_our_side')
print('Spikes detected by us that we have in common: %d' %len(joint_spikes_our_side))
print(joint_spikes_our_side)
print('solo_spikes_our_side')
print('Spikes detected by us only: %d' %len(solo_spikes_our_side))
print(solo_spikes_our_side)

Spikes detected by sophie: 465
Spikes detected by our AdabandFlt: 357

joint_spikes_sophie_side
Spikes detected by Sophie that we have in common: 148
[14, 15, 21, 22, 25, 26, 28, 29, 35, 36, 38, 40, 44, 45, 47, 49, 50, 53, 55, 58, 59, 65, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 102, 103, 106, 108, 110, 111, 112, 115, 119, 123, 125, 128, 129, 131, 132, 137, 138, 139, 141, 148, 155, 159, 165, 166, 179, 181, 183, 184, 187, 188, 190, 191, 195, 202, 204, 205, 208, 211, 214, 215, 225, 228, 229, 231, 232, 235, 241, 245, 247, 248, 249, 251, 252, 253, 255, 273, 276, 278, 279, 280, 282, 284, 286, 299, 300, 301, 303, 306, 308, 319, 327, 329, 334, 335, 336, 337, 338, 346, 359, 364, 369, 370, 371, 373, 376, 380, 381, 386, 387, 388, 396, 399, 400, 407, 409, 411, 412, 416, 418, 419, 422, 425, 430, 431, 437, 442, 447, 448, 451, 452, 454, 458, 460]

solo_spikes_sophie_side
Spikes detected by sophie only: 314
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 23, 24, 27, 30, 31, 32, 33, 34, 37, 39, 41, 42, 43, 46, 48, 51, 52, 54, 56, 57, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 99, 100, 101, 104, 105, 107, 109, 113, 114, 116, 117, 118, 120, 121, 122, 124, 126, 127, 130, 133, 134, 135, 136, 140, 142, 143, 144, 145, 146, 147, 149, 150, 151, 152, 153, 154, 156, 157, 158, 160, 161, 162, 163, 164, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 180, 182, 185, 186, 189, 192, 193, 194, 196, 197, 198, 199, 200, 201, 203, 206, 207, 209, 210, 212, 213, 216, 217, 218, 219, 220, 221, 222, 223, 224, 226, 227, 230, 233, 234, 236, 237, 238, 239, 240, 242, 243, 244, 246, 250, 254, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 274, 275, 277, 281, 283, 285, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 302, 304, 305, 307, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 320, 321, 322, 323, 324, 325, 326, 328, 330, 331, 332, 333, 339, 340, 341, 342, 343, 344, 345, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 360, 361, 362, 363, 365, 366, 367, 368, 372, 374, 375, 377, 378, 379, 382, 383, 384, 385, 389, 390, 391, 392, 393, 394, 395, 397, 398, 401, 402, 403, 404, 405, 406, 408, 410, 413, 414, 415, 417, 420, 421, 423, 424, 426, 427, 428, 429, 432, 433, 434, 435, 436, 438, 439, 440, 441, 443, 444, 445, 446, 449, 450, 453, 455, 456, 457, 459, 461]

joint_spikes_our_side
Spikes detected by us that we have in common: 148
[5, 6, 10, 11, 17, 18, 20, 21, 23, 25, 29, 32, 35, 36, 37, 40, 42, 44, 45, 48, 49, 53, 67, 70, 73, 75, 76, 78, 80, 81, 82, 83, 85, 87, 88, 91, 95, 97, 99, 102, 103, 105, 107, 108, 110, 113, 116, 117, 118, 119, 123, 124, 125, 126, 130, 134, 136, 141, 142, 145, 148, 150, 151, 154, 155, 157, 159, 162, 166, 167, 168, 172, 174, 176, 178, 184, 185, 186, 188, 189, 191, 195, 197, 199, 200, 201, 204, 205, 206, 208, 211, 214, 215, 217, 218, 220, 222, 224, 235, 236, 237, 238, 242, 245, 250, 254, 256, 260, 262, 263, 264, 266, 267, 271, 272, 276, 277, 278, 281, 283, 286, 287, 290, 291, 292, 295, 298, 299, 305, 306, 308, 309, 312, 314, 316, 319, 320, 324, 325, 332, 337, 339, 340, 342, 344, 346, 349, 354]
solo_spikes_our_side
Spikes detected by us only: 208
[0, 1, 2, 3, 4, 7, 8, 9, 12, 13, 14, 15, 16, 19, 22, 24, 26, 27, 28, 30, 31, 33, 34, 38, 39, 41, 43, 46, 47, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 71, 72, 74, 77, 79, 84, 86, 89, 90, 92, 93, 94, 96, 98, 100, 101, 104, 106, 109, 111, 112, 114, 115, 120, 121, 122, 127, 128, 129, 131, 132, 133, 135, 137, 138, 139, 140, 143, 144, 146, 147, 149, 152, 153, 156, 158, 160, 161, 163, 164, 165, 169, 170, 171, 173, 175, 177, 179, 180, 181, 182, 183, 187, 190, 192, 193, 194, 196, 198, 202, 203, 207, 209, 210, 212, 213, 216, 219, 221, 223, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 239, 240, 241, 243, 244, 246, 247, 248, 249, 251, 252, 253, 255, 257, 258, 259, 261, 265, 268, 269, 270, 273, 274, 275, 279, 280, 282, 284, 285, 288, 289, 293, 294, 296, 297, 300, 301, 302, 303, 304, 307, 310, 311, 313, 315, 317, 318, 321, 322, 323, 326, 327, 328, 329, 330, 331, 333, 334, 335, 336, 338, 341, 343, 345, 347, 348, 350, 351, 352, 353, 355]

In [29]:
print("Petit Bilan: ")
print(" ")
print('Spikes detected by sophie: %d' %len(sophie_spike))
print('Spikes detected by our AdabandFlt: %d' %len(our_spike))
print(" ")
print('Spikes detected by Sophie that we have in common: %d' %len(joint_spikes_sophie_side))
print(" ")
print('Spikes detected by sophie only: %d' %len(solo_spikes_sophie_side))
print(" ")
print('Spikes detected by us only: %d' %len(solo_spikes_our_side))

Petit Bilan:

Spikes detected by sophie: 465
Spikes detected by our AdabandFlt: 357

Spikes detected by Sophie that we have in common: 148

Spikes detected by sophie only: 314

Spikes detected by us only: 208

## Affichage oneline

In [31]:
spike_data_oneline_joint_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[joint_spikes_our_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[solo_spikes_our_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

In [32]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_our_side.index, spike_data_oneline_joint_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_our_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_our_side.index, spike_data_oneline_solo_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_our_side')
axes.grid(True)

In [33]:
spike_data_oneline_joint_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[joint_spikes_sophie_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[solo_spikes_sophie_side],
                  align_method,
                  t_before = 0.001,
                  t_after = 0.002)

In [34]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_sophie_side.index, spike_data_oneline_joint_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_sophie_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_sophie_side.index, spike_data_oneline_solo_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_sophie_side')
axes.grid(True)

## Affichage spikes sophie only

In [35]:
print_spikes(spike_data_,
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [36]:
print_spikes(spike_data_,
                 t_before_alignement = 0.001,
                 y_lim_min = -50,
                 y_lim_max = 60)

## Affichages séparés

In [37]:
print_spikes(spike_data.iloc[:,joint_spikes_our_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [38]:
print_spikes(spike_data.iloc[:,solo_spikes_our_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [39]:
print_spikes(spike_data_.iloc[:,joint_spikes_sophie_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [40]:
print_spikes(spike_data_.iloc[:,solo_spikes_sophie_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

## Affichage barres

In [41]:
plt.figure()
plt.plot(signal.index, signal, 'b')

spike_info.iloc[joint_spikes_our_side][align_method]

for value in spike_info.iloc[joint_spikes_our_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.5, ymax=0.9, color = 'purple')
for value in spike_info_.iloc[joint_spikes_sophie_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'purple')
for value in spike_info.iloc[solo_spikes_our_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.5, ymax=0.9, color = 'g')
for value in spike_info_.iloc[solo_spikes_sophie_side][align_method].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'r')

plt.grid()
plt.show()