In [2]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)

#from pandas import DataFrame, read_csv
import pandas as pd

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

import scipy
import numpy as np
#import scipy.signal as signal
from scipy.signal import *
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn import metrics

import sys  
#sys.path.insert(0, '/Users/louiseplacidet/Desktop/PIR/GITPIR/GIT_29_04/PIR/AdabandFlt')
sys.path.insert(0, '/Users/SYL21/External_Drive/SUPAERO/PIR/AdabandFlt')
from AdaBandFlt import *

%matplotlib tk

In [3]:
#load data
# file path of csv file
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2groundAll.txt'
Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2groundAll.txt'

# create dataframe
df = pd.read_csv(Location, sep='\t',skiprows=[0,1,3] , index_col='%t           ')

In [4]:
#load data
# file path of csv file
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2_tstamp.csv'
Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2_tstamp.csv'

# create dataframe
df_ = pd.read_csv(Location, sep=',')

In [5]:
df.head()

,El 21,El 31,El 41,El 22,El 32,El 42,El 23,El 33,El 43,El 15
%t,,,,,,,,,,
0.00,-2.61,1.02,0.80,1.93,-1.25,-1.59,-0.57,4.09,-1.14,-0.34
0.04,-3.30,0.00,2.05,1.25,-1.02,-0.45,-1.82,2.61,-0.45,-0.80
0.08,-2.73,0.11,2.73,1.48,0.45,1.14,-1.14,3.52,-0.23,-0.80
0.12,-3.07,-0.45,1.25,0.80,-0.57,-0.57,-1.25,2.50,-1.02,-0.57
0.16,-2.39,1.48,0.34,1.14,0.00,-0.57,-0.34,1.48,-0.23,0.45

In [6]:
df_.head()

,T[s],sppa0001_21_Timestamp_Unit0,T[s].1,sppa0001_31_Timestamp_Unit0,T[s].2,sppa0001_41_Timestamp_Unit0,T[s].3,sppa0001_22_Timestamp_Unit0,T[s].4,sppa0001_32_Timestamp_Unit0,T[s].5,sppa0001_42_Timestamp_Unit0,T[s].6,sppa0001_23_Timestamp_Unit0,T[s].7,sppa0001_33_Timestamp_Unit0,T[s].8,sppa0001_43_Timestamp_Unit0,T[s].9,sppa0001_15_Timestamp_Unit0
0,1.63776,NaN,0.38532,NaN,0.85184,NaN,2.14396,NaN,2.13620,NaN,0.56064,NaN,2.14936,NaN,0.47808,NaN,2.13872,NaN,7.96416,NaN
1,1.99384,NaN,1.08808,NaN,2.12424,NaN,2.15492,NaN,2.14376,NaN,2.14380,NaN,2.15504,NaN,0.90124,NaN,2.14168,NaN,16.50048,NaN
2,2.13476,NaN,2.11608,NaN,2.13104,NaN,2.16148,NaN,2.15196,NaN,2.15204,NaN,2.16224,NaN,2.11860,NaN,2.14432,NaN,17.73908,NaN
3,2.13824,NaN,2.12060,NaN,2.13352,NaN,2.16732,NaN,2.15752,NaN,2.15772,NaN,2.17080,NaN,2.14616,NaN,2.15276,NaN,NaN,NaN
4,2.14420,NaN,2.13140,NaN,2.13628,NaN,2.17520,NaN,2.16072,NaN,2.16072,NaN,2.17296,NaN,2.14848,NaN,2.15540,NaN,NaN,NaN

In [7]:
#####################################################################################################################
####  BANK OF PARTS OF DATA

all_raw_data = df #Entire recording from all electrodes

full_signal = df.iloc[:,1] #Entire recording from the first electrode

def butter_bandpass(lowcut, highcut, fs, order=5):
    nyq = 0.5 * fs
    low = lowcut / nyq
    high = highcut / nyq
    b, a = butter(order, [low, high], btype='band')
    return b, a


def butter_bandpass_filter(data, lowcut, highcut, fs, order=5):
    b, a = butter_bandpass(lowcut, highcut, fs, order=order)
    y = filtfilt(b, a, data)
    return y

# Sample rate and desired cutoff frequencies (in Hz).
fs = 25000.0
lowcut = 100.0
highcut = 2500.0


y = butter_bandpass_filter(df.iloc[:,1], lowcut, highcut, fs, order=6)


filtereddf = pd.DataFrame(y)
filtereddf.index = df.index

signal_filtered = filtereddf.iloc[:,0] #Entire recording filtered by bandpass, for one electrode


fs = 25000

#xminnoise = int(np.round(11114*(fs/1000)))
#xmaxnoise = int(np.round(18511*(fs/1000)))

#noise_data = filtereddf.iloc[xminnoise:xmaxnoise,0]

#xminspike = int(np.round(130826*(fs/1000)))
#xmaxspike = int(np.round(131699*(fs/1000)))

#burst_data = filtereddf.iloc[xminspike:xmaxspike,0]

#begin_data = signal_filtered.iloc[:500000]

C:\Users\SYL21\Anaconda3\lib\site-packages\scipy\signal\_arraytools.py:45: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  b = a[a_slice]

In [8]:
################################################################################################
####   TEST ADABANDFLT AVEC SIGNAL ORIGINAL (PASSE-BANDE+WIENER)

# Choices:
#  - full_signal : entire signal from first electrode
#  - signal_filtered : entire signal from first electrode after bandpass
#  - noise_data : part of signal where only noise (after bandpass)
#  - spike_data : part of signal where burst (after bandpass)


signal = signal_filtered

In [9]:
fs = 25000

noise_levels = init_noise_levels(signal_filtered, fs, 
                      noise_window_size = 0.01,
                      required_valid_windows = 100,
                      old_noise_level_propagation = 0.8, 
                      test_level = 5,
                      estimator_type = "RMS",
                      percentile_value = 25)

"""plt.figure()
plt.plot(noise_levels)
plt.grid(True)
plt.xlabel('Time')
plt.ylabel('Noise Amplitude [µV]')
plt.title('Noise Levels')"""

"plt.figure()\nplt.plot(noise_levels)\nplt.grid(True)\nplt.xlabel('Time')\nplt.ylabel('Noise Amplitude [µV]')\nplt.title('Noise Levels')"

In [10]:
spike_info = find_spikes(signal, noise_levels, fs, 
                           window_size = 0.0012, 
                           noise_window_size = 0.01,
                           threshold_factor = 3.5,
                           maxseparation = 0.001)  
                
#spike_info.columns = ['indice_max','indice_min','indice_depass_positif','indice_depass_negatif', 'indice_1er_depass','indice_zero_central','i_max-i_min','Delta_amplitudes']
spike_info

,indice_max,indice_min,indice_depass_positif,indice_depass_negatif,indice_1er_depass,indice_zero_central,i_max-i_min,Delta_amplitudes
0,53278,53286,53277,53285,53277,53281,-8,16.237153
1,53391,53375,53389,53373,53373,53386,16,18.401586
2,53492,53504,53489,53499,53489,53497,-12,31.926962
3,53645,53652,53643,53652,53643,53649,-7,17.140363
4,53922,53939,53910,53931,53910,53927,-17,44.081780
5,53960,53952,53959,53948,53948,53957,8,28.400890
6,54115,54133,54106,54126,54106,54123,-18,61.367703
7,54261,54248,54256,54245,54245,54253,13,27.291692
8,54314,54329,54302,54322,54302,54320,-15,59.721773
9,54481,54491,54464,54488,54464,54486,-10,49.451979
10,54560,54569,54555,54567,54555,54564,-9,28.426531
11,54719,54707,54716,54704,54704,54713,12,34.807065
12,54771,54778,54771,54776,54771,54774,-7,18.376141
13,54820,54839,54816,54836,54816,54826,-19,21.314656
14,54897,54890,54895,54888,54888,54893,7,26.449465
15,54931,54922,54930,54916,54916,54927,9,16.744373
16,54998,54979,54988,54967,54967,54985,19,44.865656
17,55049,55056,55048,55054,55048,55052,-7,23.261075
18,55088,55098,55077,55095,55077,55092,-10,30.362356
19,55125,55135,55121,55134,55121,55130,-10,24.543383
20,55264,55283,55248,55278,55248,55270,-19,31.190533
21,55294,55283,55292,55278,55278,55288,11,19.419364
22,55401,55387,55396,55384,55384,55393,14,35.978645
23,55614,55628,55606,55624,55606,55621,-14,44.927639
24,55748,55766,55741,55764,55741,55762,-18,34.839434
25,55810,55798,55807,55782,55782,55804,12,33.755971
26,55948,55958,55937,55955,55937,55953,-10,43.927401
27,55990,55979,55988,55970,55970,55985,11,19.661034
28,56070,56061,56067,56059,56059,56064,9,23.864030
29,56111,56100,56106,56097,56097,56104,11,47.747121
...,...,...,...,...,...,...,...,...
346,473291,473272,473280,473257,473257,473277,19,28.211547
347,473321,473331,473319,473328,473319,473325,-10,24.174565
348,473367,473376,473362,473373,473362,473371,-9,47.774382
349,473419,473434,473418,473431,473418,473427,-15,21.667272
350,473460,473448,473459,473446,473446,473453,12,17.943095
351,473504,473512,473500,473510,473500,473508,-8,27.235443
352,473568,473578,473562,473578,473562,473574,-10,22.936354
353,473673,473685,473670,473680,473670,473678,-12,43.097767
354,473705,473715,473703,473713,473703,473710,-10,21.683701
355,473959,473942,473953,473937,473937,473949,17,36.270478
356,474141,474154,474136,474151,474136,474148,-13,29.864378
357,474263,474277,474259,474277,474259,474272,-14,18.154066
358,474307,474318,474301,474316,474301,474313,-11,23.052037
359,474403,474395,474402,474394,474394,474399,8,19.077871
360,474517,474525,474514,474524,474514,474521,-8,21.777019
361,474596,474604,474595,474603,474595,474600,-8,15.947128
362,474640,474631,474637,474628,474628,474634,9,23.048613
363,474981,474971,474977,474970,474970,474974,10,20.635871
364,475652,475660,475650,475658,475650,475655,-8,17.667697
365,476184,476194,476181,476191,476181,476188,-10,28.719249
366,476871,476863,476869,476861,476861,476866,8,18.581569
367,477009,477021,477004,477016,477004,477014,-12,40.252012
368,477086,477103,477079,477103,477079,477099,-17,25.017013
369,477408,477389,477407,477386,477386,477402,19,17.492496
370,477517,477528,477514,477526,477514,477522,-11,18.188578
371,477794,477778,477793,477774,477774,477786,16,21.998559
372,477834,477815,477831,477813,477813,477827,19,19.564210
373,477905,477919,477897,477916,477897,477912,-14,29.810409
374,477952,477961,477947,477958,477947,477956,-9,33.708113
375,478147,478158,478142,478155,478142,478152,-11,32.537771

In [11]:
signal = signal_filtered

In [53]:
toto = df_.iloc[:, 2].dropna().values
arr = toto*25000
spike_info_ = pd.DataFrame(arr.astype('int') , columns = ['indice_zero_central'])

In [27]:
signal = full_signal

In [55]:
spike_data = record_spikes(signal, fs, spike_info,
                  'indice_zero_central',
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_ = record_spikes(signal, fs, spike_info_,
                  'indice_zero_central',
                  t_before = 0.001,
                  t_after = 0.002)

(377, 76)
(466, 76)

In [39]:
def print_spikes(spike_data,
                 t_before_alignement = 0,
                 first_spike = 1,
                 last_spike = -1,
                 fs = 25000,
                 randomize = False,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60):
    
    if randomize == True:        
        kept = []
        m = len(spike_data.values[0])
        if m <= nb_spike:
            kept = [i for i in range(m)]
        else:      
            i = 0  
            while i < nb_spike:
                r = randint(0,m-1)
                if (r in kept) == False:
                    kept.append(r)
                    i += 1
        
        x = spike_data.iloc[:,kept].values
        
    else:
        x = spike_data.iloc[:,first_spike:last_spike]
        
    figure = plt.figure()
    t_b = int(np.round(fs*(t_before_alignement)))
    axes = figure.add_subplot(1, 1, 1)
    axes.plot((spike_data.index-t_b)*1000/fs, x)
    axes.set_xlabel('Time in ms')
    axes.set_ylim(y_lim_min , y_lim_max)
    axes.grid()

In [64]:
sophie_spike = spike_info_['indice_zero_central'].values
our_spike = spike_info['indice_zero_central'].values
temporal_tol = 0.0006

i = 0
j = 0

joint_spikes_sophie_side = []
solo_spikes_sophie_side = []
joint_spikes_our_side = []
solo_spikes_our_side = []
tol = int(np.round(fs * temporal_tol))

while(True):
    if sophie_spike[i] < our_spike[j] - tol:
        solo_spikes_sophie_side.append(i)
        i += 1
    elif sophie_spike[i] > our_spike[j] + tol:
        solo_spikes_our_side.append(j)
        j += 1
    else:
        joint_spikes_sophie_side.append(i)
        joint_spikes_our_side.append(j)
        i += 1
        j += 1
    if(i == len(sophie_spike)-1 or j == len(our_spike)-1):
        break
    
print(len(sophie_spike))
print(len(our_spike))
print('joint_spikes_sophie_side')
print(len(joint_spikes_sophie_side))
print(joint_spikes_sophie_side)
print('solo_spikes_sophie_side')
print(len(solo_spikes_sophie_side))
print(solo_spikes_sophie_side)
print('joint_spikes_our_side')
print(len(joint_spikes_our_side))
print(joint_spikes_our_side)
print('solo_spikes_our_side')
print(len(solo_spikes_our_side))
print(solo_spikes_our_side)

465
376
joint_spikes_sophie_side
182
[4, 20, 22, 23, 25, 27, 29, 35, 37, 38, 39, 43, 44, 45, 49, 51, 55, 58, 59, 61, 65, 69, 72, 73, 76, 77, 78, 79, 80, 84, 89, 91, 92, 95, 96, 97, 98, 99, 102, 103, 104, 107, 108, 110, 113, 115, 117, 118, 122, 123, 124, 125, 126, 127, 128, 129, 133, 137, 138, 139, 140, 141, 146, 147, 153, 155, 159, 161, 165, 168, 170, 179, 180, 184, 185, 186, 190, 193, 196, 199, 202, 211, 212, 214, 215, 219, 224, 225, 228, 232, 235, 236, 241, 245, 246, 247, 250, 251, 252, 253, 255, 259, 261, 265, 268, 272, 280, 282, 283, 288, 291, 293, 301, 303, 307, 310, 311, 313, 314, 316, 317, 319, 321, 323, 325, 326, 329, 330, 331, 332, 336, 338, 341, 342, 343, 346, 348, 350, 353, 356, 357, 358, 360, 364, 368, 371, 372, 374, 375, 376, 380, 382, 396, 399, 400, 401, 403, 404, 405, 406, 407, 410, 412, 415, 416, 418, 422, 423, 427, 429, 430, 431, 436, 437, 438, 439, 442, 446, 447, 452, 456, 459]
solo_spikes_sophie_side
278
[0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 24, 26, 28, 30, 31, 32, 33, 34, 36, 40, 41, 42, 46, 47, 48, 50, 52, 53, 54, 56, 57, 60, 62, 63, 64, 66, 67, 68, 70, 71, 74, 75, 81, 82, 83, 85, 86, 87, 88, 90, 93, 94, 100, 101, 105, 106, 109, 111, 112, 114, 116, 119, 120, 121, 130, 131, 132, 134, 135, 136, 142, 143, 144, 145, 148, 149, 150, 151, 152, 154, 156, 157, 158, 160, 162, 163, 164, 166, 167, 169, 171, 172, 173, 174, 175, 176, 177, 178, 181, 182, 183, 187, 188, 189, 191, 192, 194, 195, 197, 198, 200, 201, 203, 204, 205, 206, 207, 208, 209, 210, 213, 216, 217, 218, 220, 221, 222, 223, 226, 227, 229, 230, 231, 233, 234, 237, 238, 239, 240, 242, 243, 244, 248, 249, 254, 256, 257, 258, 260, 262, 263, 264, 266, 267, 269, 270, 271, 273, 274, 275, 276, 277, 278, 279, 281, 284, 285, 286, 287, 289, 290, 292, 294, 295, 296, 297, 298, 299, 300, 302, 304, 305, 306, 308, 309, 312, 315, 318, 320, 322, 324, 327, 328, 333, 334, 335, 337, 339, 340, 344, 345, 347, 349, 351, 352, 354, 355, 359, 361, 362, 363, 365, 366, 367, 369, 370, 373, 377, 378, 379, 381, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 397, 398, 402, 408, 409, 411, 413, 414, 417, 419, 420, 421, 424, 425, 426, 428, 432, 433, 434, 435, 440, 441, 443, 444, 445, 448, 449, 450, 451, 453, 454, 455, 457, 458]
joint_spikes_our_side
182
[0, 10, 11, 12, 16, 18, 20, 24, 26, 29, 30, 33, 34, 35, 37, 39, 41, 44, 45, 46, 48, 52, 55, 56, 59, 60, 61, 62, 63, 67, 72, 74, 75, 79, 80, 83, 84, 85, 88, 91, 92, 93, 94, 96, 99, 101, 102, 103, 106, 107, 108, 109, 110, 112, 113, 114, 116, 119, 121, 122, 124, 125, 128, 129, 135, 137, 140, 144, 147, 149, 150, 151, 152, 156, 157, 158, 162, 164, 167, 169, 170, 177, 178, 179, 180, 182, 184, 185, 186, 190, 191, 192, 194, 196, 198, 200, 203, 204, 205, 207, 209, 210, 212, 213, 214, 215, 221, 223, 224, 230, 233, 234, 238, 239, 243, 245, 246, 247, 248, 249, 250, 252, 254, 256, 258, 260, 263, 265, 266, 267, 273, 276, 277, 278, 279, 280, 281, 282, 283, 286, 288, 289, 290, 291, 292, 294, 296, 298, 299, 300, 303, 305, 312, 316, 317, 318, 319, 320, 322, 323, 325, 328, 330, 334, 335, 338, 342, 343, 347, 351, 352, 353, 356, 357, 359, 360, 363, 364, 365, 368, 370, 373]
solo_spikes_our_side
193
[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 14, 15, 17, 19, 21, 22, 23, 25, 27, 28, 31, 32, 36, 38, 40, 42, 43, 47, 49, 50, 51, 53, 54, 57, 58, 64, 65, 66, 68, 69, 70, 71, 73, 76, 77, 78, 81, 82, 86, 87, 89, 90, 95, 97, 98, 100, 104, 105, 111, 115, 117, 118, 120, 123, 126, 127, 130, 131, 132, 133, 134, 136, 138, 139, 141, 142, 143, 145, 146, 148, 153, 154, 155, 159, 160, 161, 163, 165, 166, 168, 171, 172, 173, 174, 175, 176, 181, 183, 187, 188, 189, 193, 195, 197, 199, 201, 202, 206, 208, 211, 216, 217, 218, 219, 220, 222, 225, 226, 227, 228, 229, 231, 232, 235, 236, 237, 240, 241, 242, 244, 251, 253, 255, 257, 259, 261, 262, 264, 268, 269, 270, 271, 272, 274, 275, 284, 285, 287, 293, 295, 297, 301, 302, 304, 306, 307, 308, 309, 310, 311, 313, 314, 315, 321, 324, 326, 327, 329, 331, 332, 333, 336, 337, 339, 340, 341, 344, 345, 346, 348, 349, 350, 354, 355, 358, 361, 362, 366, 367, 369, 371, 372, 374]

In [66]:
print_spikes(spike_data_)

In [60]:
spike_data_oneline_joint_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[joint_spikes_our_side],
                  'indice_zero_central',
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[solo_spikes_our_side],
                  'indice_zero_central',
                  t_before = 0.001,
                  t_after = 0.002)

In [61]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_our_side.index, spike_data_oneline_joint_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_our_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_our_side.index, spike_data_oneline_solo_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_our_side')
axes.grid(True)

In [62]:
spike_data_oneline_joint_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[joint_spikes_sophie_side],
                  'indice_zero_central',
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[solo_spikes_sophie_side],
                  'indice_zero_central',
                  t_before = 0.001,
                  t_after = 0.002)

In [63]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_sophie_side.index, spike_data_oneline_joint_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_sophie_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_sophie_side.index, spike_data_oneline_solo_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_sophie_side')
axes.grid(True)