In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)

#from pandas import DataFrame, read_csv
import pandas as pd

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

import scipy
import numpy as np
#import scipy.signal as signal
from scipy.signal import *
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn import metrics

import sys  
#sys.path.insert(0, '/Users/louiseplacidet/Desktop/PIR/GITPIR/GIT_29_04/PIR/AdabandFlt')
#sys.path.insert(0, '/Users/SYL21/External_Drive/SUPAERO/PIR/AdabandFlt')
sys.path.insert(0, '/Users/louiseplacidet/Desktop/PIR/GITPIR/GIT_29_04/PIR/AdabandFlt')
#from AdaBandFlt import *
from V2AdaBandFlt import *

%matplotlib tk

In [2]:
#load data
# file path of csv file
#Location = r'/Users/33614/ExternalDrive/SUPAERO/PIR_2A/Data/data_spikes/E18KABaseline_Bcut.txt'
#Location = r'/Users/SYL21/D_Drive/SUPAERO/PIR_2A/Data/data_spikes/E18KABaseline_Bcut.txt'
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/data_spikes/E18KABaseline_Bcut.txt'
#Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2groundAll.txt'
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2groundAll.txt'

Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_new_spike_data/539W6cbaseRaw.txt'


# create dataframe
df = pd.read_csv(Location, sep='\t',skiprows=[0,1,3] , index_col='%t           ')
df

/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,El 41,El 42,El 44,El 54,El 55,El 56,El 58,El 86,El 15,El 51
%t,,,,,,,,,,
0.00,0.92,-1.46,2.32,-0.61,0.06,-1.04,8.06,-0.24,0.73,-0.55
0.02,0.49,-1.53,1.59,-0.31,0.73,-1.22,6.29,-0.85,0.92,-1.40
0.04,0.43,-1.34,0.92,-0.37,1.16,-1.10,4.15,-0.92,0.85,-2.08
0.06,0.85,-0.85,0.37,-0.85,1.04,-0.92,2.08,-0.73,0.61,-2.44
0.08,1.46,-0.37,-0.12,-1.46,0.31,-0.73,0.55,-0.55,0.18,-2.38
...,...,...,...,...,...,...,...,...,...,...
299999.90,1.34,0.73,4.21,-1.95,-4.76,-1.28,-6.96,-3.60,-0.31,2.50
299999.92,1.59,0.49,4.09,-2.44,-3.42,-1.34,-6.04,-4.09,0.00,2.93
299999.94,2.08,0.37,3.66,-3.48,-1.95,-1.53,-5.13,-4.64,0.18,2.93
299999.96,2.69,0.31,2.93,-4.76,-0.73,-1.53,-3.85,-5.07,0.06,2.50
299999.98,3.17,0.12,1.83,-5.74,0.06,-1.10,-2.20,-5.43,-0.24,1.59

In [15]:
#load data
# file path of csv file
#Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_spike_data/newdata/E18KABaseline_BcutV2_tstamp.csv'
#Location = r'/Users/SYL21/External_Drive/SUPAERO/PIR/Data/Wetransfer_data/E18KABaseline_BcutV2_tstamp.csv'

Location = r'/Users/louiseplacidet/Desktop/PIR/Data/new_new_spike_data/539W6cbase_isi.csv'

# create dataframe
df_ = pd.read_csv(Location, sep=',')

In [4]:
df.head()

,El 41,El 42,El 44,El 54,El 55,El 56,El 58,El 86,El 15,El 51
%t,,,,,,,,,,
0.00,0.92,-1.46,2.32,-0.61,0.06,-1.04,8.06,-0.24,0.73,-0.55
0.02,0.49,-1.53,1.59,-0.31,0.73,-1.22,6.29,-0.85,0.92,-1.40
0.04,0.43,-1.34,0.92,-0.37,1.16,-1.10,4.15,-0.92,0.85,-2.08
0.06,0.85,-0.85,0.37,-0.85,1.04,-0.92,2.08,-0.73,0.61,-2.44
0.08,1.46,-0.37,-0.12,-1.46,0.31,-0.73,0.55,-0.55,0.18,-2.38

In [20]:
df_

,T[s],sppa0001_41_ISI_Unit0[s],T[s].1,sppa0001_51_ISI_Unit0[s],T[s].2,sppa0001_42_ISI_Unit0[s],T[s].3,sppa0001_44_ISI_Unit0[s],T[s].4,sppa0001_54_ISI_Unit0[s],T[s].5,sppa0001_15_ISI_Unit0[s],T[s].6,sppa0001_55_ISI_Unit0[s],T[s].7,sppa0001_56_ISI_Unit0[s],T[s].8,sppa0001_86_ISI_Unit0[s],T[s].9,sppa0001_58_ISI_Unit0[s]
0,8.02888,0.000,0.49376,0.000,3.29332,0.000,1.14208,0.000,1.09624,0.000,54.99790,0.000,1.54508,0.000,0.13722,0.000,1.46726,0.000,0.37518,0.000
1,8.61440,0.586,1.16038,0.667,3.86232,0.569,7.08838,5.946,1.60380,0.508,110.68088,55.683,7.09504,5.550,0.22456,0.087,6.31758,4.850,2.38696,2.012
2,9.58374,0.969,4.81332,3.653,7.48202,3.620,7.31220,0.224,2.26072,0.657,211.33020,100.649,7.37258,0.278,2.85550,2.631,7.76476,1.447,4.07190,1.685
3,12.03224,2.448,6.22780,1.414,10.39402,2.912,7.91536,0.603,7.47944,5.219,250.82852,39.498,9.86792,2.495,6.52836,3.673,9.46954,1.705,4.11016,0.038
4,12.66838,0.636,6.89382,0.666,10.90426,0.510,8.75536,0.840,9.36432,1.885,NaN,NaN,12.26970,2.402,7.88418,1.356,12.41544,2.946,4.38138,0.271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,292.46908,1.593
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.52610,1.057
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,295.40498,1.879
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,297.28386,1.879
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299.36696,2.083

In [6]:
#####################################################################################################################
####  BANK OF PARTS OF DATA
size = 1000000
all_raw_data = df #Entire recording from all electrodes

#full_signal = df.iloc[:,1] #Entire recording from electrode 58
full_signal = df.iloc[:size,6] #Entire recording from electrode 58

electrode_ref = df.iloc[:size,8]

def butter_bandpass(lowcut, highcut, fs, order=5):
    nyq = 0.5 * fs
    low = lowcut / nyq
    high = highcut / nyq
    b, a = butter(order, [low, high], btype='band')
    return b, a


def butter_bandpass_filter(data, lowcut, highcut, fs, order=5):
    b, a = butter_bandpass(lowcut, highcut, fs, order=order)
    y = filtfilt(b, a, data)
    return y

# Sample rate and desired cutoff frequencies (in Hz).
fs = 50000.0
lowcut = 100.0
highcut = 5000.0


#y = butter_bandpass_filter(df.iloc[:,1], lowcut, highcut, fs, order=6)
y = butter_bandpass_filter(df.iloc[:size,6], lowcut, highcut, fs, order=6)
y_ref = butter_bandpass_filter(df.iloc[:size,8],lowcut,highcut,fs,order=6)

filtereddf = pd.DataFrame(y)
filtereddf.index = df.index[:size]

filtereddf_ref = pd.DataFrame(y_ref)
filtereddf_ref.index = df.index[:size]


signal_filtered = filtereddf.iloc[:,0] #Entire recording filtered by bandpass, for one electrode
signal_filtered_ref = filtereddf_ref.iloc[:,0]


###########################
## Signal de 20s

xminspike = int(np.round(12548*(fs/1000)))
xmaxspike = int(np.round(13000*(fs/1000)))

burst_data = filtereddf.iloc[xminspike:xmaxspike,0]

In [7]:
################################################################################################
####   TEST ADABANDFLT AVEC SIGNAL ORIGINAL (PASSE-BANDE+WIENER)

# Choices:
#  - full_signal : entire signal from first electrode
#  - signal_filtered : entire signal from first electrode after bandpass
#  - noise_data : part of signal where only noise (after bandpass)
#  - burst_data : part of signal where burst (after bandpass)


part_of_signal = signal_filtered

signal = part_of_signal

In [8]:
signal

%t
0.00        0.987869
0.02       -1.333552
0.04       -3.391723
0.06       -4.977680
0.08       -5.979127
              ...
19999.90    1.859480
19999.92    0.955399
19999.94    0.361998
19999.96    0.054497
19999.98   -0.082345
Name: 0, Length: 1000000, dtype: float64

In [9]:
fs = 50000
method_align = 'indice_1er_depass'

In [10]:

noise_levels = init_noise_levels(signal_filtered, fs, 
                      noise_window_size = 0.01,
                      required_valid_windows = 20,
                      old_noise_level_propagation = 0.8, 
                      test_level = 5,
                      estimator_type = "RMS",
                      percentile_value = 25)

In [11]:
spike_info = find_spikes(signal, noise_levels, fs, 
                          window_size = 0.001, 
                          noise_window_size = 0.01,
                          threshold_factor = 3.0,
                          maxseparation = 0.002)

spike_info

,indice_min,indice_1er_depass,indice_max_gauche,indice_max_droite,Delta_amplitudes
0,31218,31217,nan,31289,20.572144
1,48001,47999,nan,48092,19.727463
2,76238,76236,nan,76327,20.022408
3,166605,166603,nan,166694,20.404970
4,176846,176844,nan,176880,19.050473
5,187231,187231,nan,187309,17.905986
6,205421,205421,nan,205444,20.153656
7,332404,332403,nan,332458,18.719857
8,336891,336890,nan,336902,18.354057
9,365142,365141,nan,365167,20.096096
10,366607,366606,nan,366631,19.212663
11,381622,381621,nan,381645,19.629263
12,398564,398561,nan,398653,18.406675
13,466324,466321,nan,466389,22.751154
14,601748,601746,nan,601838,18.613103
15,610734,610732,nan,610801,18.002861
16,654626,654625,nan,654705,19.953714
17,660878,660877,nan,660913,19.138880
18,690761,690760,nan,690857,20.494220
19,725804,725802,nan,725871,18.931319
20,727361,727360,nan,727446,18.184766
21,731306,731305,nan,731350,22.095018
22,738467,738467,nan,738494,17.945021
23,781564,781562,nan,781623,21.889281
24,816792,816792,nan,816871,18.641034
25,836868,836868,nan,836915,17.082602
26,839047,839046,nan,839090,18.687298
27,948515,948514,nan,948606,18.488573
28,986155,986154,nan,986253,19.109994

In [12]:
signal = signal_filtered

In [17]:
toto = df_['T[s].9'].dropna().values
arr = toto*fs
spike_info_ = pd.DataFrame(arr.astype('int') , columns = [method_align])

In [17]:
signal = full_signal

In [19]:
spike_data = record_spikes(signal, fs, spike_info,
                  method_align,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_ = record_spikes(signal, fs, spike_info_,
                  method_align,
                  t_before = 0.001,
                  t_after = 0.002)

(30, 151)

ValueError: could not broadcast input array from shape (1,7180) into shape (1,151)

In [15]:
def print_spikes(spike_data,
                 t_before_alignement = 0,
                 first_spike = 1,
                 last_spike = -1,
                 fs = 25000,
                 randomize = False,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60):
    
    if randomize == True:        
        kept = []
        m = len(spike_data.values[0])
        if m <= nb_spike:
            kept = [i for i in range(m)]
        else:      
            i = 0  
            while i < nb_spike:
                r = randint(0,m-1)
                if (r in kept) == False:
                    kept.append(r)
                    i += 1
        
        x = spike_data.iloc[:,kept].values
        
    else:
        x = spike_data.iloc[:,first_spike:last_spike]
        
    figure = plt.figure()
    t_b = int(np.round(fs*(t_before_alignement)))
    axes = figure.add_subplot(1, 1, 1)
    axes.plot((spike_data.index-t_b)*1000/fs, x)
    axes.set_xlabel('Time in ms')
    axes.set_ylim(y_lim_min , y_lim_max)
    axes.grid()

# Comparaison spikes

In [16]:
sophie_spike = spike_info_[method_align].values
our_spike = spike_info[method_align].values
temporal_tol = 0.0006

i = 0
j = 0

joint_spikes_sophie_side = []
solo_spikes_sophie_side = []
joint_spikes_our_side = []
solo_spikes_our_side = []
tol = int(np.round(fs * temporal_tol))

while(True):
    if sophie_spike[i] < our_spike[j] - tol:
        solo_spikes_sophie_side.append(i)
        i += 1
    elif sophie_spike[i] > our_spike[j] + tol:
        solo_spikes_our_side.append(j)
        j += 1
    else:
        joint_spikes_sophie_side.append(i)
        joint_spikes_our_side.append(j)
        i += 1
        j += 1
    if(i == len(sophie_spike)-1 or j == len(our_spike)-1):
        break
    
print(len(sophie_spike))
print(len(our_spike))
print('joint_spikes_sophie_side')
print(len(joint_spikes_sophie_side))
print(joint_spikes_sophie_side)
print('solo_spikes_sophie_side')
print(len(solo_spikes_sophie_side))
print(solo_spikes_sophie_side)
print('joint_spikes_our_side')
print(len(joint_spikes_our_side))
print(joint_spikes_our_side)
print('solo_spikes_our_side')
print(len(solo_spikes_our_side))
print(solo_spikes_our_side)

465
376
joint_spikes_sophie_side
182
[4, 20, 22, 23, 25, 27, 29, 35, 37, 38, 39, 43, 44, 45, 49, 51, 55, 58, 59, 61, 65, 69, 72, 73, 76, 77, 78, 79, 80, 84, 89, 91, 92, 95, 96, 97, 98, 99, 102, 103, 104, 107, 108, 110, 113, 115, 117, 118, 122, 123, 124, 125, 126, 127, 128, 129, 133, 137, 138, 139, 140, 141, 146, 147, 153, 155, 159, 161, 165, 168, 170, 179, 180, 184, 185, 186, 190, 193, 196, 199, 202, 211, 212, 214, 215, 219, 224, 225, 228, 232, 235, 236, 241, 245, 246, 247, 250, 251, 252, 253, 255, 259, 261, 265, 268, 272, 280, 282, 283, 288, 291, 293, 301, 303, 307, 310, 311, 313, 314, 316, 317, 319, 321, 323, 325, 326, 329, 330, 331, 332, 336, 338, 341, 342, 343, 346, 348, 350, 353, 356, 357, 358, 360, 364, 368, 371, 372, 374, 375, 376, 380, 382, 396, 399, 400, 401, 403, 404, 405, 406, 407, 410, 412, 415, 416, 418, 422, 423, 427, 429, 430, 431, 436, 437, 438, 439, 442, 446, 447, 452, 456, 459]
solo_spikes_sophie_side
278
[0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 24, 26, 28, 30, 31, 32, 33, 34, 36, 40, 41, 42, 46, 47, 48, 50, 52, 53, 54, 56, 57, 60, 62, 63, 64, 66, 67, 68, 70, 71, 74, 75, 81, 82, 83, 85, 86, 87, 88, 90, 93, 94, 100, 101, 105, 106, 109, 111, 112, 114, 116, 119, 120, 121, 130, 131, 132, 134, 135, 136, 142, 143, 144, 145, 148, 149, 150, 151, 152, 154, 156, 157, 158, 160, 162, 163, 164, 166, 167, 169, 171, 172, 173, 174, 175, 176, 177, 178, 181, 182, 183, 187, 188, 189, 191, 192, 194, 195, 197, 198, 200, 201, 203, 204, 205, 206, 207, 208, 209, 210, 213, 216, 217, 218, 220, 221, 222, 223, 226, 227, 229, 230, 231, 233, 234, 237, 238, 239, 240, 242, 243, 244, 248, 249, 254, 256, 257, 258, 260, 262, 263, 264, 266, 267, 269, 270, 271, 273, 274, 275, 276, 277, 278, 279, 281, 284, 285, 286, 287, 289, 290, 292, 294, 295, 296, 297, 298, 299, 300, 302, 304, 305, 306, 308, 309, 312, 315, 318, 320, 322, 324, 327, 328, 333, 334, 335, 337, 339, 340, 344, 345, 347, 349, 351, 352, 354, 355, 359, 361, 362, 363, 365, 366, 367, 369, 370, 373, 377, 378, 379, 381, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 397, 398, 402, 408, 409, 411, 413, 414, 417, 419, 420, 421, 424, 425, 426, 428, 432, 433, 434, 435, 440, 441, 443, 444, 445, 448, 449, 450, 451, 453, 454, 455, 457, 458]
joint_spikes_our_side
182
[0, 10, 11, 12, 16, 18, 20, 24, 26, 29, 30, 33, 34, 35, 37, 39, 41, 44, 45, 46, 48, 52, 55, 56, 59, 60, 61, 62, 63, 67, 72, 74, 75, 79, 80, 83, 84, 85, 88, 91, 92, 93, 94, 96, 99, 101, 102, 103, 106, 107, 108, 109, 110, 112, 113, 114, 116, 119, 121, 122, 124, 125, 128, 129, 135, 137, 140, 144, 147, 149, 150, 151, 152, 156, 157, 158, 162, 164, 167, 169, 170, 177, 178, 179, 180, 182, 184, 185, 186, 190, 191, 192, 194, 196, 198, 200, 203, 204, 205, 207, 209, 210, 212, 213, 214, 215, 221, 223, 224, 230, 233, 234, 238, 239, 243, 245, 246, 247, 248, 249, 250, 252, 254, 256, 258, 260, 263, 265, 266, 267, 273, 276, 277, 278, 279, 280, 281, 282, 283, 286, 288, 289, 290, 291, 292, 294, 296, 298, 299, 300, 303, 305, 312, 316, 317, 318, 319, 320, 322, 323, 325, 328, 330, 334, 335, 338, 342, 343, 347, 351, 352, 353, 356, 357, 359, 360, 363, 364, 365, 368, 370, 373]
solo_spikes_our_side
193
[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 14, 15, 17, 19, 21, 22, 23, 25, 27, 28, 31, 32, 36, 38, 40, 42, 43, 47, 49, 50, 51, 53, 54, 57, 58, 64, 65, 66, 68, 69, 70, 71, 73, 76, 77, 78, 81, 82, 86, 87, 89, 90, 95, 97, 98, 100, 104, 105, 111, 115, 117, 118, 120, 123, 126, 127, 130, 131, 132, 133, 134, 136, 138, 139, 141, 142, 143, 145, 146, 148, 153, 154, 155, 159, 160, 161, 163, 165, 166, 168, 171, 172, 173, 174, 175, 176, 181, 183, 187, 188, 189, 193, 195, 197, 199, 201, 202, 206, 208, 211, 216, 217, 218, 219, 220, 222, 225, 226, 227, 228, 229, 231, 232, 235, 236, 237, 240, 241, 242, 244, 251, 253, 255, 257, 259, 261, 262, 264, 268, 269, 270, 271, 272, 274, 275, 284, 285, 287, 293, 295, 297, 301, 302, 304, 306, 307, 308, 309, 310, 311, 313, 314, 315, 321, 324, 326, 327, 329, 331, 332, 333, 336, 337, 339, 340, 341, 344, 345, 346, 348, 349, 350, 354, 355, 358, 361, 362, 366, 367, 369, 371, 372, 374]

## Affichage oneline

In [17]:
spike_data_oneline_joint_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[joint_spikes_our_side],
                  method_align,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_our_side = record_spikes_oneline(signal, fs, spike_info.iloc[solo_spikes_our_side],
                  method_align,
                  t_before = 0.001,
                  t_after = 0.002)

In [18]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_our_side.index, spike_data_oneline_joint_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_our_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_our_side.index, spike_data_oneline_solo_our_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_our_side')
axes.grid(True)

In [19]:
spike_data_oneline_joint_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[joint_spikes_sophie_side],
                  method_align,
                  t_before = 0.001,
                  t_after = 0.002)

spike_data_oneline_solo_sophie_side = record_spikes_oneline(signal, fs, spike_info_.iloc[solo_spikes_sophie_side],
                  method_align,
                  t_before = 0.001,
                  t_after = 0.002)

In [20]:
figure = plt.figure()
axes = figure.add_subplot(2, 1, 1)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_joint_sophie_side.index, spike_data_oneline_joint_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_joint_sophie_side')
axes.grid(True)
axes = figure.add_subplot(2, 1, 2)
axes.plot(signal.index, signal.values)
axes.plot(spike_data_oneline_solo_sophie_side.index, spike_data_oneline_solo_sophie_side.values)
axes.set_xlabel('Time in ms')
axes.set_title('spike_data_oneline_solo_sophie_side')
axes.grid(True)

## Affichage spikes sophie only

In [21]:
print_spikes(spike_data_,
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [22]:
print_spikes(spike_data_,
                 t_before_alignement = 0.001,
                 y_lim_min = -50,
                 y_lim_max = 60)

## Affichages séparés

In [23]:
print_spikes(spike_data.iloc[:,joint_spikes_our_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [24]:
print_spikes(spike_data.iloc[:,solo_spikes_our_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [25]:
print_spikes(spike_data_.iloc[:,joint_spikes_sophie_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

In [26]:
print_spikes(spike_data_.iloc[:,solo_spikes_sophie_side],
                 t_before_alignement = 0.001,
                 randomize = True,
                 nb_spike = 20,
                 y_lim_min = -50,
                 y_lim_max = 60)

## Affichage barres

In [36]:
plt.figure()
plt.plot(signal.index, signal, 'b')

spike_info.iloc[joint_spikes_our_side][method_align]

for value in spike_info.iloc[joint_spikes_our_side][method_align].values/fs*1000:
    plt.axvline(x=value, ymin=0.5, ymax=0.9, color = 'purple')
for value in spike_info_.iloc[joint_spikes_sophie_side][method_align].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'purple')
for value in spike_info.iloc[solo_spikes_our_side][method_align].values/fs*1000:
    plt.axvline(x=value, ymin=0.5, ymax=0.9, color = 'g')
for value in spike_info_.iloc[solo_spikes_sophie_side]['method_align].values/fs*1000:
    plt.axvline(x=value, ymin=0.1, ymax=0.5, color = 'r')

plt.grid()
plt.show()